include menu

doctype html
html
	head
		title= title	
	body
		block content
		.container
			if(!!err)
				div(class='msgbox err') #{msg}
			else
				div(class='msgbox success') #{msg}		
		div.container-fluid
			br		
			div.row
				//img.img-responsive(src='img/about_us.png', width="80%",alt='logistics')
				div.col-md-9
					div.col-md-12.col-sm-offset-1(style="background-color:#FAAC58")
						h5
							b Farm To Fork Traceability
						p Our platform provides farm to fork traceability of product details by collecting all the touch points of the product information from framers, suppliers, logistics and distributers		
			div.row.row-top-buffer
				div.col-md-9
					div.col-md-12.col-md-offset-2(style="background-color:#00B7FF")
						h5
							b 	Packaging Solutions
						p Now you can design your product more appealing to customers without worrying about space				
			div.row.row-top-buffer
				div.col-md-9
					div.col-md-12.col-md-offset-3(style="background-color:#04B486")
						h5
							b  Fighting against counterfeit
						p Out platform helps manufactures to protect their brand value by fighting against counterfeit
			div.row.row-top-buffer
				div.col-md-9					
					div.col-md-12.col-md-offset-4(style="background-color:#FAAC58")
						h5
							b GS1 Standards
						p We developed a simple solution which makes it easy to leverage GS1 standards. This will add great advantage to manufactures by making their product ready to sell at any big retailers in the world
			div.row.row-top-buffer
				div.col-md-9									
					div.col-md-12.col-md-offset-5(style="background-color:#00B7FF")
						h5						
							b  Brand Promotion
						p Our application turns every customer interaction as an opportunity for brand endorsement
			div.row.row-top-buffer
				div.col-md-9				
					div.col-md-12.col-md-offset-6(style="background-color:#04B486")
						h5
							b  Business Intelligence
						p Our data analytics will give great insights about the business and keeps you well informed 																				