include menu

doctype html
html
	head
		title= title	
	body
		block content
		.container
			if(!!err)
				div(class='msgbox err') #{msg}
			else
				div(class='msgbox success') #{msg}		
		div.container-fluid
			br
			br
			div.row
				img.img-responsive(src='img/scan.jpg', width="80%",alt='logistics')
				div.carousel-caption(style="left: 80%; top: 40%;")
					div.full-width
						h2(style="color:green") TraceIT
							h4(style="color:green")								
								| Great solution to track any type of food
								| through all stages of production, processing and distribution by
								| providing greater visibility to the customer.											
include footer