include menu

doctype html
html
	head
		title= title	
		script( src="bower_components/jquery-validation/dist/jquery.validate.min.js")
		script( src="js/contact.js")		
	body
	block content
		.container
			br
			br
			form#contact-form(role='form', action="/contact",method="post")
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Contact us
					div.panel-body											
						div.col
							//img.img-responsive(src="img/contact_us.png")
						div.col
							br
							div#errorContainer
							ul							
							div#msg_info  #{msg}
							br				
						div.col
							div.form-group
								div.row
									div.col-sm-6
										label.col-sm-4 Name
										div.row
											div.col-sm-8 
												input.form-control(type='text', name="firstname", placeholder='Enter First Name')
							div.form-group
								div.row
									div.col-sm-6
										label.col-sm-4 Email Address
										div.row
											div.col-sm-8 
												input.form-control(type='text', name="emailaddress", placeholder='Enter Email')
							div.form-group
								div.row
									div.col-sm-6
										label.col-sm-4 Phone
										div.row
											div.col-sm-8 
												input.form-control(type='text', name="phone", placeholder='Phone')
							div.form-group
								div.row
									div.col-sm-8
										label.col-sm-4  Subject
										div.row
											div.col-sm-12
												textarea.form-control(rows = '2',cols = '40', name ="subject" ) 
							div.form-group
								div.row
									div.col-sm-8
										label.col-sm-4  Message
										div.row
											div.col-sm-12
												textarea.form-control(rows = '5',cols = '40', name ="message" ) 											
												
							div.form-group		
								div.row
									div.col-sm-8
										div.col-sm-2
											button.btn.btn-primary(type='submit') Send Message		
			
			
					