include menu

doctype html
html
	head
		script( src="bower_components/jquery-validation/dist/jquery.validate.min.js")
		script( src="js/createpo.js")
	body
		div.container				
			<br>
			<br>
			h3 Create Your Purchase Order to generate a unique QRCode.
			<br>
			form#create-po-form(role='form', action="/createpo",method="post")
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Create Your Purchase Order											
					div.panel-body
						div#errorContainer
							ul
						div#msg_info  #{msg}										
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-6 Purchase Order Number
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="ponum", placeholder='Enter Purchase Order Number')
								div.col-xs-6
									label.col-xs-4 Production Date
									div.row
										div.col-xs-8
											input.form-control(type='text', name="proddate",id="datepicker", placeholder='Enter Production Date')										 
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-4 Item
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="itemnum", placeholder='Enter Item')
								div.col-xs-6
									label.col-xs-4 Production Code
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="prodcode", placeholder='Enter Production Code')
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-4 FDA Registration No
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="fdaregno", placeholder='FDA Registration Number')
								div.col-xs-6
									label.col-xs-4 Tracebility ID
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="traceid", placeholder='Enter Tracebility ID')
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-4 Product Type
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="producttype", placeholder='Enter Product Type')
								div.col-xs-6
									label.col-xs-4 Product Weight
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="productwgt", placeholder='Enter Product Weight')											
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-4 Packing
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="packing", placeholder='Enter Packing')
								div.col-xs-6
									label.col-xs-4 Country of Origin
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="corigin", placeholder='Country of Origin')											
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-4 Company
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="company", placeholder='Company')
								div.col-xs-6
									label.col-xs-4 Processor
									div.row
										div.col-xs-8 
											input.form-control(type='text', name="processor", placeholder='Processor')											
											
						div.form-group		
							div.row
								div.col-xs-1
										button.btn.btn-primary(type='submit') Submit
								div.col-xs-1
										a(href='/')
											button.btn.btn-primary(type="button") Cancel
										if(typeof msg !== 'undefined')										
include footer																														