include menu

doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')		
	body
	block content
		.container
			h2 Forgot Password
			br
			form(role='form', action="/forgot",method="post")
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Forgot Your Password?
					div.panel-body
						div.form-group
							div.row
								div.col-xs-6
									label.col-xs-4 Forgot Password
									div.row
										div.col-xs-8 
											input.input-block-level(type="text", name="emailaddress", class="form-control" placeholder="Email address")
						div.form-group
							div.row
								div.col-xs-6
									div.row
										div.col-xs-4
											button.btn.btn-large.btn-primary(type="submit", class="btn btn-default") Reset Password
										div.col-xs-4
include footer								