include mixins

doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href="/bower_components/jquery-ui/themes/base/jquery-ui.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		link(href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css", rel="stylesheet")
		link(href="//cdn.datatables.net/responsive/2.0.1/css/responsive.dataTables.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='/bower_components/datatables/media/js/jquery.dataTables.min.js' )
		script( src='////cdn.datatables.net/responsive/2.0.1/js/dataTables.responsive.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		script( src='/bower_components/jquery-ui/jquery-ui.js' )
		script( src="bower_components/jquery-validation/dist/jquery.validate.min.js")
		script( src="js/menu.js")					
	body
		div.container
			if loggedIn
				+nav("TraceiT","dropdown_menu", "navbar-default navbar-fixed-top")
					+nav_item( "/home" ) Home
					+nav_item( "/profile" ) PO Profile
					+nav_item( "/createpo" ) Create PO 
					+nav_item( "/contact" ) Help
					+nav_item( "/logout" ) Logout
					+nav_item_logo("/myinbox", "cust_nav_logo xhidden-xs")
			else
				+nav("TraceiT", "dropdown_menu", "navbar-default navbar-fixed-top pull-right")
					+nav_item( "/" ) Home					
					+nav_item( "/about" ) About
					+nav_item( "/login" ,"navbar-right container-fluid") Login					
					+nav_item( "/contact" ) Contact
					+nav_item( "/contact" )
						div(style="outline: 1px solid white; padding: 5px 5px 5px 5px;")	832-872-2348																																		