include menu

doctype html
html
	head
		title= title
		script( src="bower_components/jquery-qrcode/jquery.qrcode.min.js")
		script( src="bower_components/pick-a-color/build/1.2.3/js/pick-a-color-1.2.3.min.js")
		script( src="bower_components/tinycolor/tinycolor.js")
		script( src="js/profile.js")							
		<link href="bower_components/pick-a-color/build/1.2.3/css/pick-a-color-1.2.3.min.css" rel="stylesheet">
		<link href="bower_components/pick-a-color/build/1.2.3/css/pick-a-color-1.2.3.min.css" rel="stylesheet">		
	body
		div.container				
			br
			br
			div#msg_info  #{msg}
			table(id="example",class="table table-striped table-hover table-bordered")
				thead
					tr
						th
						th PO Number
						th Submitted Date
						th Product Code
						th Production Date
						th Company
						th Country of Origin
						th QR Code
						div.form-group		
	div#qrCodeModal.modal.fade(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.btn.close(type="button" data-toggle="modal" data-dismiss="modal") &times
					h4 Your QR Code Image
				div.modal-body
					div#qrcodeholder.cust_center 
					div.hide#bqcode
					br
					br
					button#qrcodeDwnLdBtn.btn.btn-info.btn-sm.center-block(type="button") Download QR Code
				div.modal-footer					
						button.btn.btn-default(type="submit" data-dismiss="modal") Close						
br
br
br											
include footer.jade																									